.user-box {
    display: flex;
}

.icon-text {
    display: flex;
    align-items: center;
    & span {
        font-size: 1.2rem;
    }
}

.round-bg-icon {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: var(--color-grey);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.3s all;

    &:hover {
        & svg {
            color: #fff;
        }

        background-color: var(--color-primary);
    }

    & svg {
        color: var(--color-primary);
    }

    &-box {
        display: flex;
    }
}

.cardx {
    background-color: #fff;
    padding: 2rem;
    border-radius: $base-radius;
}

.cardxx {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s all;
    padding: 10rem 0;

    &:hover {
        background-color: var(--color-primary);
        color: white;
    }

    & span {
        margin-top: 4rem;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.the-title {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    color: var(--color-primary);
    font-size: 1.5rem;
    background-color: var(--color-grey);
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: $base-radius;
    margin-left: 50%;
    transform: translateX(-50%);

    & svg {
        margin-right: 1rem;
    }
}

.total-bill {
    font-size: 3rem;
    & svg {
        margin-right: 0.5rem;
    }
}
